* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0px solid red;
}

:root {
  --dark-blue: #272a31;
  --light-blue: #7894d3;
  --medium-blue: #395084;
  --off-white-accent: #cfd9ef;
}

body {
  background-color: var(--dark-blue);
  padding: 0 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--off-white-accent);
  text-align: center;
}

h1 {
  text-decoration: underline;
}

li {
  color: var(--off-white-accent);
}

h3,
h4,
h5,
h6,
p,
li,
a {
  font-family: 'Montserrat';
}

h1,
h2 {
  font-family: 'Josefin Sans';
}

nav ul {
  list-style: none;
  padding: 1rem;
  text-align: center;
}

nav {
  width: 90vw;
}

a {
  color: var(--light-blue);
  transition: 300ms;
  text-decoration: none;
}

a:hover {
  color: var(--off-white-accent);
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.margin-top {
  margin-top: 2rem;
}

.margin-bottom {
  margin-bottom: 2rem;
}

.main-button {
  font-family: 'Bebas Neue';
  font-size: 1.5rem;
  color: var(--dark-blue);
  background-color: var(--light-blue);
  padding: 1rem 2rem;
  border-radius: 999px;
  border: 1px solid var(--off-white-accent);
  transition: 300ms;
}

.main-button:hover {
  cursor: pointer;
  color: var(--off-white-accent);
  background-color: var(--dark-blue);
  border: 1px solid var(--light-blue);
}

#map {
  height: 50vh;
  width: 80vw;
}

footer {
  margin: 3rem;
  text-align: center;
}
